*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.homepage {
  background-color: #f7f7f7;
  padding: 5rem;
}

.generatorPage {
  position: relative;
  background-color: #f7f7f7;
  padding: 5rem;
  text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center;
}

/*Class after .row that starts with "col"*/
.row [class^='col']:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.btn {
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  outline: none;
  border: none;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(107, 97, 197, 0.85)
  );
}

.btn:active {
  transform: scale(0.98);
}

.label {
  display: block;
}

.input {
  width: 50%;
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  outline: none;
}

.generateBtn {
  width: 20%;
  padding: 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  outline: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.generateBtn:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(107, 97, 197, 0.85)
  );
}

.generateBtn:active {
  transform: scale(0.98);
}

svg {
  margin-top: 2rem;
  align-items: center;
}

QRCode {
  margin-top: 2rem;
}

.backBtn {
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  outline: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  padding: 1px 1rem;
}

.backBtn:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(219, 41, 255, 0.85),
    rgba(107, 97, 197, 0.85)
  );
}

.backBtn:active {
  transform: scale(0.98);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 3.5rem;
  }

  .btn {
    text-align: center;
    padding: 2rem 4rem;
    font-size: 2rem;
  }

  .input {
    width: 70%;
  }

  .generateBtn {
    width: 30%;
    margin-top: 0.5rem;
  }
}
